#theme-toggle {
    float: right;
    padding: 8px 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    cursor: pointer;
}

/* Light Theme */
body {
    background-color: white;
    color: #222;
}

/* Dark Theme */
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

body.dark-mode a {
    color: #4da3ff;
}

body.dark-mode .site-header,
body.dark-mode .site-footer {
    background-color: #1e1e1e;
}